<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/8.11.8/sweetalert2.min.js"></script>
  </head>

  <style>
    body  {
      background-image: url("https://c8.alamy.com/comp/HGPGFB/double-exposure-business-hand-clicking-login-button-with-blurred-background-HGPGFB.jpg");
      background-size: 100% 140%;
      background-color: #cccccc;
    }
  </style>

<body>

 
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6">
      </div>
      <div class="col-lg-3" style="margin-top: 88px;">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width:400px">
          <div class="card-body">
            <h4 class="card-title">SIGN IN</h4>

            <div class="container">
              <form id="signinForm">
                <div class="form-group">
                  <label for="Email-ID">Email-ID:</label>
                  <input class="form-control"  placeholder="Enter Email-ID" name="email" required>
                </div>
                <div class="form-group">
                  <label for="Password">Password:</label>
                  <input class="form-control" id="password" placeholder="Enter Password" name="password" required  >
                </div>
                <button type="Login" id="signInbtn" class="btn btn-success">Submit</button>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</body>


<script>
  
  
  $("#signInbtn").click(function (e) {
        e.preventDefault();
        let data = $('form').serializeArray();
        console.log("sda", data);
        let forObj = {};
        data.forEach(element => {
          forObj[element.name] = element.value;
        });
        var signInData = JSON.stringify(forObj)
        console.log("data", signInData);
        alert(signInData);
        console.log(JSON.parse(JSON.stringify(data)) );
        $.ajax({
          type: 'POST',
          contentType: "application/json",
          url: "http://localhost:4000/login",
          data: signInData,
          dataType: "json",
          success: function (dataofconfirm) {
            Swal.fire({
                icon: 'success ',
                title: "Logged",
                text: dataofconfirm,
                })
                window.location.href = "http://localhost:5000/dashboard?data="+JSON.stringify(dataofconfirm);
                
              
          },
          error: function (xhr, textStatus, error) {
            Swal.fire({
                title: "xhr.statusText",
                text: error,
                icon: "error"
                })
          }
        });
      });
</script>

</html>